@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

:root {
    --size: 75px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
}

.container {
    max-width: 900px;
}

.header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    max-width: 65vw;
}

.pallete {
    width: 300px;
    height: 850px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    border: 10px solid blue;
    width: 720px;
    height: 720px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tile {
    width: var(--size);
    height: var(--size);
    background-color: white;
    border: 1px solid transparent;
}

.tile-borders {
    border: 1px solid black;
}

#change-size {
    font-family: 'Koulen', cursive;
    padding: 5px;
    font-size: 45px;
    line-height: .9em;
    background-color: purple;
    color: pink;
    border-radius: 20%;
    border: 5px solid pink;
    transition: background-color .3s, color .3s, opacity .2s;
}

#change-size:hover {
    background-color: pink;
    color: purple;
}

#change-size:active {
    opacity: .7;
}
